@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&family=PT+Serif:wght@700&display=swap');
.badge {
    background-image: linear-gradient(45deg, var(--secondaryColor), var(--beigeColor));
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slug{
    font-family: 'Jost', sans-serif;
    font-size: 28px;
    font-weight: 500;
    padding-left: 30px;
    color: var(--navyBlue);
}
.content i {
    margin-right: 10px;
    font-size: 15px;
    color: var(--navyBlue) !important;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.slash {
    font-size: 19px;
    font-family: 'Jost', sans-serif;
    color: var(--navyBlue) !important;
}

.slash a {
    color: var(--navyBlue) !important;
    text-decoration: none;
}