@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&family=PT+Serif:wght@700&display=swap');

.bookName{
    color: var(--navyBlue);
    font-size: 32px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}
.bookAuthor{
    font-size: 20px;
    color: #A2A1A1;
    font-family: 'Jost', sans-serif;

}
.price{
    margin-top: 18px;
   font-size: 18px;
   font-family: 'Jost', sans-serif;
   

}
.textright{
    text-align: right;
}
/* .price span{
    color: ;
} */
.wishListBtn{
    border: none!important;
    margin-top: 20px;
    background-color: var(--mainColor)!important;
    color: white!important;

}
.removewishListBtn{
    border: 1px solid var(--mainColor)!important;
    margin-top: 20px;
    background-color:white !important;
    color: var(--mainColor)!important;

}
.category{
    font-size: 17px;
    background-color: var(--mainColor);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    width: fit-content;
    margin-top: 15px;
}
.description{
    margin-top: 35px;
    color: gray;
}
.gap{
    gap: 10px;
}
.gap span{
    background-color: var(--navyBlue);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 13px;
}
.discount{
    font-size: 12px;
    background-color: var(--beigeColor);
    color: var(--navyBlue);
    padding: 20px 5px;
    border-radius: 50%;
}
.btnSeeMore{
    text-decoration: underline !important;
    color: var(--mainColor)!important;
    border: none !important;
    padding: 0!important;
}
.btnSeeMore:hover,.btnSeeMore:focus{
    text-decoration: underline!important;
    color: var(--navyBlue)!important;
    background-color: transparent!important;
    border: none!important;
    padding: 0!important;
}
.details{
    font-size: 22px;
    color: var(--navyBlue);
   font-family: 'Jost', sans-serif;
   margin-top: 30px

}
.textColor{
    font-size: 18px;
    font-weight: 500;
    color: var(--navyBlue);
   font-family: 'Jost', sans-serif;
}
.textColorDetails{
    color: gray;
    margin: 0!important;
}
.show{
    display: none;
}
.zoom{
    margin-top: 10px;
    color: var(--mainColor);
}
@media screen and (max-width:767px) {
    .hide{
        display: none!important;
    }
    .show{
        display: block;
    }
}