@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&family=PT+Serif:wght@700&display=swap');

.imgCat {
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer
}

.imgCat img {
  transition: transform 0.5s ease-in-out;


}


.cardImg img {
  height: 306px !important;

}

.overlayCat {
  position: absolute;
  width: 80%;
  top: 80%;
  left: 10%;
  right: 0;
  bottom: 3%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(242, 229, 229, 0.7);
  transition: all 0.5s 0.1s ease-in-out;
  z-index: 99;
  text-align: center;
  padding: 5px;

}

.overlayCat p {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Jost', sans-serif;
  color: var(--navyBlue);
  margin: 0;
}

.fontSize p {
  font-size: 20px;
}

.imgCat:hover img {
  transform: scale(1.1, 1.1);

}



/* Screens */

@media screen and (width:1024px) {
  .cardImg img {
    height: 236px !important;

  }

  .overlayCat {
    position: absolute;
    width: 90%;
    top: 70%;
    left: 5%;
    right: 0;
    bottom: 3%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 229, 229, 0.7);
    transition: all 0.5s 0.1s ease-in-out;
    z-index: 99;
  }

  .overlayCat p {
    font-size: 18px;
  }
}