/* .gap{ */
    /* gap: 15px; */
/* } */
/*  */

.btn{
    border: 1px solid var(--navyBlue);
    border-radius: 50%;
    background-color: transparent;
    color: var(--navyBlue);
    transition: all 0.3s;
}
.leftBtn{
    margin-right: 10px;
}
.btn:hover{
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}


.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: default;
}