.reviewBg{
    width: 60%;
}

.reviewTitle{
    color: var(--navyBlue);
    font-weight: bold;
    font-size: 26px;
    font-family: 'Jost', sans-serif;
}

.lead{
    color: gray;
}

.review{
    padding-top: 130px;
}

.overlay{
    background-image: linear-gradient(45deg,rgba(232, 196, 196,0.3),rgba(255,255,255,0.3));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

