.fontpargraph{
   font-size: 22px;
   font-weight: bold;
 
   color: var(--navyBlue);
   padding-top: 15px;
   margin-bottom: 0;
   display: flex;
 justify-content: center;
   align-items: center;
   transition: all 0.2s ease-in-out;
 }
 .fontpargraph:hover{
   color: var(--mainColor);
 
 }

@media screen and (min-width:300px) and (max-width:666px) {
   .paddingSection {
      padding: 0px 35px;
   }
}

@media screen and (min-width:501px) and (max-width:700px) {
   .paddingSection {
      padding: 0px 15px;
   }
}

.fontpargraph{
   font-size: 22px;
   font-weight: bold;
 
   color: var(--navyBlue);
   padding-top: 15px;
   margin-bottom: 0;
   display: flex;
 justify-content: center;
   align-items: center;
   transition: all 0.2s ease-in-out;
 }
 .fontpargraph:hover{
   color: var(--mainColor);
 
 }

