@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&family=PT+Serif:wght@700&display=swap');

.badge{
    background-image: linear-gradient(45deg,var(--secondaryColor),var(--beigeColor));
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slug{
    font-family: 'Jost', sans-serif;
    font-size: 28px;
    font-weight: 500;
    padding-left: 30px;
    color: var(--navyBlue);
}
.content i{
    margin-right: 10px;
font-size: 15px;
color: var(--navyBlue)!important;

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}
.slash{
    font-size: 19px;
    font-family: 'Jost', sans-serif;
    color: var(--navyBlue)!important;
}
.slash a{
    color: var(--navyBlue)!important;
    text-decoration: none;
}
.form{
    background-color: #faf5f5!important;
    border:none!important;
    line-height: 2.5;
    padding-left: 60px;
    font-size: 18px;
    color: var(--navyBlue);
}
.form::placeholder{
    color: rgb(173, 173, 173)!important;
    font-size: 17px;
}
.form:focus{
    box-shadow: 0 0 0 0.25rem var(--beigeColor)!important;
  
}
.searchBar{
    position: relative;
}
.searchicon{
    position: absolute;
    top: 35%;
    left: 40px;
    color: rgb(173, 173, 173);

}
.btnMore{
    background-color: white!important;
    color: var(--mainColor)!important;
    font-size: 19px!important;
    border: 1px solid var(--mainColor)!important;
    padding: 4px 19px!important;
    font-family: 'Jost', sans-serif!important;
    border-radius: 0px!important;
    transition: all 0.5s ease;
    font-weight: 500!important;
}
.btnMore:hover{
    background-color: white!important;
    color: var(--navyBlue)!important;
    border: 1px solid var(--navyBlue)!important;
}
@media screen and (min-width:550px) and (max-width:794px){
    .slug{
        padding: 0;
    }
    .content{
        padding: 0;
    }
}
@media screen and (min-width:350px) and (max-width:549px){
    .slug{
        padding: 0;
        font-size: 20px;
    }
    .content{
        padding: 0;
        font-size: 20px;
    }
    .slash{
        font-size: 15px;
    }
    .badge{
        padding: 15px;
        flex-wrap: wrap;
    }
}