.bgBtn {
  background-color: #f2e5e5 !important;
}
.hintColor {
  color: var(--mainColor);
}
.forgotPpassword{
    /* text-decoration: none; */
    color: var(--secondaryColor);
}
.pageHead{
  color: var(--mainColor);
}

.leftLine, .rightLine {
  width: 45%;
  height: 1px;
  background-color: var(--mainColor);
}

.or {
  color: var(--mainColor);
}
