@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&family=Libre+Baskerville&family=PT+Serif:wght@700&display=swap');


body {
  margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
  --navyBlue: #2b3a55;
  --white: #ffffff;
  --mainColor: rgb(206, 119, 119);
  --secondaryColor: #e8c4c4;
  --beigeColor: #f2e5e5;
}

/* Our Button */
.mainBtn{
  color: var(--mainColor);
  border-color: var(--mainColor);
  transition: all 0.7s ease;
}

.mainBtn:hover{
  color: white;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}

/* Our Link */
.mainInput, .mainInput:focus {
  background-color: var(--beigeColor);
  border-color: var(--beigeColor);
}

.mainInput:focus {
  box-shadow: none;
  border-color: var(--mainColor);
}


.blueHeader{
  color:var(--navyBlue);
  font-size: 38px;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;

}