body {
  margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
  --navyBlue: #2b3a55;
  --white: #ffffff;
  --mainColor: #ce7777;
  --secondaryColor: #e8c4c4;
  --beigeColor: #f2e5e5;
}

/* Our Button */
.mainBtn{
  color: var(--mainColor);
  border-color: var(--mainColor);
  transition: all 0.7s ease;
}

.mainBtn:hover{
  color: white;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}

/* Our Link */
.mainInput, .mainInput:focus {
  background-color: var(--beigeColor);
  border-color: var(--beigeColor);
}

.mainInput:focus {
  box-shadow: none;
  border-color: var(--mainColor);
}