@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&family=Libre+Baskerville&family=PT+Serif:wght@700&display=swap');


body {
  margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
  --navyBlue: #2b3a55;
  --white: #ffffff;
  --mainColor: rgb(206, 119, 119);
  --secondaryColor: rgb(232, 196, 196);
  --beigeColor: rgb(242, 229, 229);
}

/* Our Button */
.mainBtn{
  color: var(--mainColor);
  border-color: var(--mainColor);
  transition: all 0.7s ease;
}

.mainBtn:hover{
  color: white;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}

/* Our Link */
.mainInput, .mainInput:focus {
  background-color: var(--beigeColor);
  border-color: var(--beigeColor);
}

.mainInput:focus {
  box-shadow: none;
  border-color: var(--mainColor);
}


.blueHeader{
  color:var(--navyBlue);
  font-size: 38px;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;

}
.darkBg{
  background-color: var(--navyBlue);
}

section{
  margin-top: 3rem !important;
}

.slick-prev:before, .slick-next:before{
color: var(--navyBlue)!important;
}
.slick-current{
  transform: scale(1.1);
  transition: scale 2s ease-in-out ;
}
@media screen and (min-width:300px) and (max-width:768px){
  .blueHeader{
    font-size: 26px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width:769px) and (max-width:1200px){
  .blueHeader{
    font-size: 29px;
    padding-bottom: 10px;
  }
}